* {
    border: 0px solid red !important;
    
}
 
 *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only print and (max-width:500px)
{
    p{
        display:none;
    }
}

p{
    padding: 10px;
    
}

.grid {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
   
}
.row{
    width:100%;
    margin-bottom:5px;
    display: flex;
}


}
.col-1{
    width:25%;
    
    }
.col-2{
    width:50%;
}
.col-2D{
    width:50%;
    background-image: url(https://i.pinimg.com/236x/a2/f0/e8/a2f0e809906a05f142f19d3373b7b03c--cross-wallpaper-tumblr-wallpaper.jpg);
    
}
.col-3{
    width:75%;
}
.col-4{
    width:100%;
}
body{
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}

li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    font-size: 20px;
    
}

li a:hover {
    background-color: mediumvioletred;
}
h1{
    font-style: italic;
    font-size:50px;
    text-decoration: none;
    background-color: black;
    color: white;
}
h6{
 font-size: 75px;
 font-style: italic;
 font-family: fantasy;
color: black;
    padding: 100px 50px;
}
.black{
   
    background-color: black;
    color:white;
    
}
.fancyfont{
    
    padding: 15px 17px;
    font-size: 40px;
    
}
h4{
 font-size: 75px;
 font-style: italic;
 font-family: fantasy;
color: white;
    padding: 100px 50px;
}
.paradox{
    background-image: url(http://www.finestwallpaper.com/uploads/5/7/7/9/5779447/s774058804322417752_p122_i25_w2165.jpeg)
        ;
   
    
}
.disciples{
    background-image: url(https://i.pinimg.com/236x/a2/f0/e8/a2f0e809906a05f142f19d3373b7b03c--cross-wallpaper-tumblr-wallpaper.jpg)
}

h3{
    font-size: 40px;
    
}
b{
    background-image: url(http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/full/tileable-classic-nebula-space-patterns-8.jpg)
}
h7{
    font-family: fantasy
        
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}